@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --a:0;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
    color: white;
}
/* .container{
    max-height: 80vh;
} */
.left {
    width: 25vw;
    padding: 10px;
    position: relative;
}

.left .close {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 30px;
}

.close {
    display: none;
}

.right {
    width: 75vw;
}

.home {
    padding: 10px;
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    align-items: center;
    font-size: 13px;
}

.heading img {
    width: 30px;
}

.library {
    min-height: 77vh;
    position: relative;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    font-size: 10px;
    color: grey;
    gap: 12px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a {
    color: grey;
}

.right {
    margin: 16px 0;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

.header>* {
    padding: 20px;
}

.spotifyPlaylists {
    padding: 16px;
}

.spotifyPlaylists h1 {
    padding: 16px;
}

.cardContainer {
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 50vh;
}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all 0.5s;
}
.card:hover{
    background-color: rgb(62, 61, 61);
    cursor: pointer;
    --a:1;
}
.card>* {
    padding-top: 3px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    width: 28px;
    height: 28px;
    background: #1fdf64;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    position: absolute;
    bottom: 85px;
    right: 17px;    
    opacity: var(--a);
    transition: all 1s ease-out;
}

.buttons>* {
    margin: 0 12px;
}

.signupbtn {
    background-color: rgb(34, 34, 34);
    color: rgb(78, 78, 78);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signupbtn:hover {
    transform: scale(1.1);
    color: white;
}

.loginbtn {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 21px;
    color: black;
    width: 80px;
    cursor: pointer;
    font-size: 16px;
}

.loginbtn:hover {
    font-weight: bold;
    transform: scale(1.1);
}

.playbar {
    position: fixed;
    bottom: 30px;
    min-height: 40px;
    background-color: #dedcdc;
    width: 70vw;
    padding: 12px;
    filter: invert();
    border-radius: 10px;
}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.songList {
    max-height: 60vh;
    margin: 25px 0;
    height: 640px;
    overflow: auto;
    /* margin-top: 20px;
    margin-bottom: 44px; */
}

.songList ul {
    padding: 0 12px;
}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    padding: 12px;
    margin: 12px 0;
    border-radius: 5px;
}

.songList .info {
    font-size: 13px;
    width: 344px;
}

.info div {
    word-break: break-all;
}

.hamburger {
    display: none;
}

.hamburgerCont {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 14px; */
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 15px;
    width: 64px;
    padding: 12px;
}

.seekbar {
    height: 2px;
    width: 69vw;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    bottom: 8px;
    margin: 6px;
    cursor: pointer;
}

.seekbar:hover {
    height: 3px;
}

.circle {
    height: 13px;
    width: 13px;
    border-radius: 50px;
    background-color: black;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}

.songbuttons img {
    cursor: pointer;
}

.timevol {
    display: flex;
    justify-content: center;
    align-items: center;
}

.songtime {
    color: black;
    padding: 0 12px;
    width: 125px;
}

.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}
.range input{
    cursor: pointer;

}

.songinfo {
    color: black;
    padding: 0 12px;
    width: 250px;
}

.abovebar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    min-height: 40px;
}



@media (max-width: 1200px) {
    .left {
        background-color: black;
        position: absolute;
        left: -120%;
        transition: all 0.3s;
        z-index: 1;
        width: 370px;
        max-height: 70vh;
        margin: 0;
        padding: 0;
    }

    .close {
        display: block;
    }

    .right {
        margin: 0;
        width: 100vw;
        max-height: 70vh;
    }

    .timevol {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .playbar {
        width: calc(100vw - 70px);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .seekbar {
        width: calc(100vw - 75px);
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .songbuttons img {
        width: 24px;
    }

    .songinfo {
        width: auto;
        display: flex;
        justify-content: center;
    }

    .card {
        width: 44vw;
    }

    .abovebar {
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .cardContainer {
        margin: 0;
        justify-content: center;
        margin-bottom: 30vh;
    }
    .left{
        height: 100vh;
        position: fixed;
        top: 0;
    }
}


@media (max-width: 500px) {
    .card{
        width: 100%;
    }
    .header >*{
        padding: 5px;
    }
    .buttons >*{
        margin: 0 6px;
    }
    .left{
        width: -135%;
    }
    .cardContainer{
        max-height: unset;
        overflow-y: unset;
    }
    .spotifyPlaylists{
        padding: 4px;
    }
    .playbar{
        padding: 25px;
    }
    .library{
        height: 85vh;
    }
    .left{
        width: 100vw;
    }
    
}